@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 100% 99%;
    --foreground: 218 69% 20%;

    --card: 0 0% 100%;
    --card-foreground: 218 69% 20%;

    --popover: 0 0% 100%;
    --popover-foreground: 218 69% 20%;

    --primary: 217 92% 53%;
    --primary-foreground: 0 0% 100%;

    --secondary: 216 100% 96%;
    --secondary-foreground: 216 81% 42%;

    --muted: 216 50% 96%;
    --muted-foreground: 215 16% 47%;

    --accent: 39 100% 58%;
    --accent-foreground: 33 100% 15%;

    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 100%;

    --border: 215 45% 91%;
    --input: 215 45% 91%;
    --ring: 217 92% 53%;

    --radius: 0.75rem;
  }
}